.vs/

bin/
obj/
**/bin/
**/obj/

*.user
*.suo
*.userosscache
*.sln.docstates

TestResults/
*.trx
*.coverage
*.coveragexml

*.log
Record/
Config/CurrentRecipe.txt

packages/
*.nupkg

Thumbs.db
Desktop.ini
